body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.453),
      rgba(255, 255, 255, 0.533)
    ),
    url("assets/currency.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* font-size: 1.2rem; */
  width: 100%;
}
.App {
  background: linear-gradient(rgba(18, 13, 13, 0.418), rgba(35, 29, 29, 0.434)),
    url("assets/freepik.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0.5rem;
}
h1 {
  font-size: 2.5rem;
  color: rgb(255, 252, 84);
  font-weight: 900;
  text-shadow: 5px 5px 5px black;
}
h2 {
  text-align: center;
  margin-right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 900;
  color: aliceblue;
}
select {
  margin-left: 0.5rem;
}
@media screen and (max-width: 365px) {
  h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
}
